body{
    background-color: aqua;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    
}

.container{

    background-color: rgb(233, 224, 224);
    max-width: 80%;
    max-height: 80%;
    min-height: 100vh;
    flex-grow: 1;
    
 } 

.navegacion{
    display: flex;
    background-color: rgb(51, 51, 97); 
    justify-content: space-between;
    text-align: center;
    
    
}
.calculadora{
    
    background-color: aquamarine;
    display:flex;
    flex-direction: column;
    gap:10px;
}

h3{
    text-align: center;
    align-items: center;
    display:flex;
    justify-content:space-around;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}