body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{

    background-color: rgb(233, 224, 224);
    max-width: 80%;
    max-height: 60%;
    max-width: 800px;
    max-height: 640px;
    min-height: 100vh;
    
 } 

.navegacion{
    display: flex;
    background-color: rgb(51, 51, 97); 
    justify-content: space-between;
    text-align: center;
    
    
}
.calculadora{
    
    background-color: aquamarine;
    display:flex;
    flex-direction: column;
    gap:10px;
}

#footer{
    text-align: center;
    margin-top: 25px;
}

#nombre{
    border-color: black;
}