body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{

    background-color: black;
    width: 640px;
    height: 640px;
    margin-bottom: 5px;
 }  